<div class="card">
    <div class="card-body">
        <h5 class="titulo">Rutinas Creadas</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>Ejercicio y descripción</td>
                    <td>Duración por serie</td>
                    <td>Número de series</td>
                    <td>Numero de repeticiones por serie</td>
                    <td>Tiempo de descanso</td>
                    <td>Editar   <i class="far fa-edit text-info"></i></td>
                    <td>Eliminar <i class="fa-solid fa-trash text-danger" ></i></td>
                </tr>
                <tr>
                    <td>Cardio</td>
                    <td>Saltar la cuerda</td>
                    <td>2 min</td>
                    <td>3 series</td>
                    <td>2 repeticiones</td>
                    <td>1 min</td>
                    <td>Editar   <i class="far fa-edit text-info"></i></td>
                    <td>Eliminar <i class=" far fa-solid fa-trash text-danger" ></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
