<nav class="navbar navbar-expand-lg navbar-light"style="background-color: black;" routerLink=" ">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #ffffff;">
        <img src="https://i.pinimg.com/originals/4a/2a/09/4a2a0961ed2f9e0efeaf9c74e0499942.jpg" alt="" width="80" height="60" class="d-inline-block align-text-top">
        GymRoutine
      </a>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
          <div class="d-grid gap-2 d-md-flex justify-content-xl-end">
            <button class="btn btn-outline-secondary md-xl-1 rounded-pill" type="button"  routerLink=" " >Home</button>
            <a class="btn btn-outline-secondary rounded-pill me-md-2" routerLink="/rutinas"  > Rutinas </a>
            <a class="btn btn-outline-secondary rounded-pill me-md-2" routerLink="/ejercicios" > Ejercicios </a>
            <a class="btn btn-outline-secondary rounded-pill me-md-2" routerLink="/blog" > Blog </a>
            <a class="btn btn-outline-secondary rounded-pill me-md-2" routerLink="/inicio-sesion"> Iniciar sesión </a>
          </div>    
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>