.container-fluid{
    background-color: #ffffff10 !important;
}

.row{
    background-color:  #333333; 
}
.btn-primary{

    background-color: #fd7d3d;
}

a:hover{
    color: rgb(0, 0, 0) !important;
    background-color: #fd7d3d !important;
    }

.titulo{
    color:#fd7d3d;
}