<div class="container-fluid">
<div class="container mt-0">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <br>
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo mb-3">{{titulo | uppercase}}</h3>
                    <form [formGroup]="form" (ngSubmit)="guardarRutina()"> 
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre del ejercicio:</label>
                        <input type="text " formControlName="nombre" class="form-control" id="nombre" placeholder="nombre del ejercicio">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Ejercicio y descripción</label>
                        <textarea class="form-control" formControlName="descripcion" id="descripcion" rows="3"></textarea>
                      </div>
                    
                    
                      <div class="row">
                        <div class="col-lg-3 text-center ">
                            <label for="exampleFormControlInput1" class="form-label">Duración por serie</label>
                            <input type="number" min="1" max="20"  formControlName="duracion" class="form-control text-center" id="duracion" placeholder="Tiempo">
                            
                          </div>
                        <div class="col-lg-2 lg-1">
                            <label for="exampleFormControlInput1" class="form-label">Series</label>
                            <input type="number" min="1" max="20" formControlName="serie" class="form-control text-center" id="series" placeholder="series">
                          </div>

                          <div class="col-lg-3 lg-1">
                            <label for="exampleFormControlInput1" class="form-label">Repetición por serie</label>
                            <input type="number" min="3" max="20" formControlName="repeticion" class="form-control text-center" id="repeticion" placeholder="repeticiones">
                        </div>

                        <div class="col-lg-3 lg-1">
                            <label for="exampleFormControlInput1" class="form-label">Tiempo de descanso:</label>
                            <input type="number"  min="1" max="20" formControlName="tiempo" class="form-control text-center" id="" placeholder="descanso">
                          </div>
                          <div class="mb-3">
                              <br>
                            <button [disabled]="form.invalid" class="btn btn-primary" type="submit" style="margin-left: 45% ;" >Crear</button>
                          </div>
                         
                      </div><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><br>


</div>
