<div class="container-fluid">
<div  class="row">
    <div class="col-sm-3"> 
    <div class="card text-center" style="width: 18rem; height: 12.5rem;">
        <div class="card-body">
          <h5 class="card-title">Mis rutinas</h5>
          <p class="card-text">En este espacio puedes crear y personalizar tus rutinas.</p><br>
          
          <ul class="nav ">      
            <li><a href="#" class="btn btn-primary">Mas opciones sobre rutinas</a>
                <ul>
                    <li><a routerLink="/listar-rutinas">Ver rutinas</a></li>
                    <li><a routerLink="/crear-rutina">Crear nueva rutina</a></li>
                    <li><a href="">Iniciar rutina</a></li>
                </ul>
            </li>
        </ul>
        </div>
      </div>
      </div>

      <div class="col-sm-3"> 
      <div class="card text-center" style="width: 18rem;  height: 12.5rem;">
        <div class="card-body">
          <h5 class="card-title">Rutinas rápidas</h5>
          <p class="card-text">Aquí podrás encontrar rutinas de ejercicio prácticas y que no demoran mas de 15 min!</p>
          <ul class="nav ">      
            <li><a routerLink="/rapidas" class="btn btn-primary">  Más sobre rutinas rápidas</a>
                <ul>
                    <li><a routerLink="/quemagrasa">Quemagrasa</a></li>
                    <li><a routerLink="/pierna-y-gluteo">Pierna y glúteo</a></li>
                    <li><a routerLink="/cardio-en-casa">Cardio en casa</a></li>
                    <li><a routerLink="/abdominales">Abdominales</a></li>

                </ul>
            </li>
        </ul>
          
        </div>
      </div>
      </div>

      <div class="col-sm-3"> 
      <div class="card text-center" style="width: 18rem;  height: 12.5rem;">
        <div class="card-body">
          <h5 class="card-title">Retos</h5>
          <p class="card-text">¿Planeas un entrenamiento pero no quieres invertir mucho tiempo? entonces accede a nuestros retos.</p>
          <ul class="nav ">      
            <li><a routerLink="/retos" class="btn btn-primary">  Más sobre retos</a>
                <ul>
                    <li><a href="">300 Sentadillas</a></li>
                    <li><a href="">50 Dominadas</a></li>
                    <li><a href="">100 flexiones</a></li>
                    <li><a href="">300 Abdominales</a></li>
                    <li><a href="">Corre 40 min</a></li>
                    <li><a href="">Corre 5 km</a></li>
                    <li><a href="">150 zancadas</a></li>
                </ul>
            </li>
        </ul>
        </div>
      </div>
     </div>

      <div class="col-sm-3"> 
      <div class="card text-center" style="width: 18rem;  height: 12.5rem;">
        <div class="card-body">
          <h5 class="card-title">Estiramientos</h5>
          <p class="card-text">No te ejercites sin antes haber calentado, evita lesiones.Aquí te sugerimos algunos ejercicios.</p>
          <ul class="nav ">      
            <li><a href="#" class="btn btn-primary">  Más sobre Estiramientos</a>
            </li>
        </ul>
        </div>
      </div>
    </div>

</div>
</div>

<!--<ul class="nav">
				<li><a href="">Inicio</a></li>
				<li><a href="">Servicios</a>
					<ul>
						<li><a href="">Submenu1</a></li>
						<li><a href="">Submenu2</a></li>
						<li><a href="">Submenu3</a></li>
						<li><a href="">Submenu4</a>
							<ul>
								<li><a href="">Submenu1</a></li>
								<li><a href="">Submenu2</a></li>
								<li><a href="">Submenu3</a></li>
								<li><a href="">Submenu4</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="">Acerca de</a>
					<ul>
						<li><a href="">Submenu1</a></li>
						<li><a href="">Submenu2</a></li>
						<li><a href="">Submenu3</a></li>
						<li><a href="">Submenu4</a></li>
					</ul>
				</li>
				<li><a href="">Contacto</a></li>
			</ul>-->

