<div class="container-fluid ">


<main> 
  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
   <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col mb-4 py-5"> 
        <div class="card h-80 shadow-sm text-center"> 
           <div class="card-body"> 
             <div class="clearfix mb-2"> 
              <h2 class="card-title "><strong>Rutinas</strong></h2>
              </div> 
              <div class="d-grid gap-0 my-0"> 
                <p class="card-text">En este espacio puedes crear y personalizar tus rutinas.</p><br>
              </div> 
              <ul class="nav justify-content-center ">      
                <li><a href="#" class="btn btn-primary ">Mis rutinas</a>
                    <ul>
                        <li><a routerLink="/listar-rutinas">Ver rutinas</a></li>
                        <li><a routerLink="/crear-rutina">Crear nueva rutina</a></li> 
                    </ul>
                </li>
            </ul>
          </div> 
        </div> 
      </div> 
     
      <div class="col mb-4 py-5"> 
        <div class="card h-80 shadow-sm text-center"> 
           <div class="card-body"> 
             <div class="clearfix mb-0"> 
              <h2 class="card-title"><strong>Rutinas rápidas</strong></h2>
              <ul class="nav justify-content-center ">    
                <li><a routerLink="/rapidas" class="btn btn-primary">  Más sobre rutinas rápidas</a>
                    <ul>
                        <li><a routerLink="/quemagrasa">Quemagrasa</a></li>
                        <li><a routerLink="/pierna-y-gluteo">Pierna y glúteo</a></li>
                        <li><a routerLink="/cardio-en-casa">Cardio en casa</a></li>
                        <li><a routerLink="/abdominales">Abdominales</a></li>
    
                    </ul>
                </li>
            </ul>
              </div> 
              <div class="d-grid gap-0 my-4"> 
                <p class="card-text">Aquí podrás encontrar rutinas de ejercicio prácticas y que no demoran mas de 15 min!</p>
              </div> 
              
          </div> 
        </div> 
      </div> 

      <div class="col py-5"> 
        <div class="card h-80 shadow-sm text-center"> 
           <div class="card-body"> 
             <div class="clearfix mb-3"> 
              <h2 class="card-title"><strong>Retos</strong></h2>
              </div> 
              <div class="d-grid gap-2 my-4"> 
                <p class="card-text">¿Planeas un entrenamiento pero no quieres invertir mucho tiempo? entonces accede a nuestros retos.</p>
              </div> 
              <ul class="nav justify-content-center ">      
                <li><a href="#" class="btn btn-primary">  Más sobre Retos</a>
                </li>
            </ul>
          </div> 
        </div> 
      </div> 

      <div class="col py-5"> 
        <div class="card h-80 shadow-sm text-center"> 
           <div class="card-body"> 
             <div class="clearfix mb-3 "> 
              <h2 class="card-title"><strong>Estiramientos</strong></h2>
              </div> 
              <div class="d-grid gap-0 my-2"> 
                <p class="card-text">No te ejercites sin antes haber calentado, evita lesiones.Aquí te sugerimos algunos ejercicios.</p>
              </div> 
              <ul class="nav justify-content-center ">      
                <li><a routerLink="/estiramientos" class="btn btn-primary">  Más sobre Estiramientos</a>
                </li>
            </ul>
          </div> 
        </div> 
      </div> 
      



    </div> 
  </div> 
</main>
</div>

<!--<ul class="nav">
				<li><a href="">Inicio</a></li>
				<li><a href="">Servicios</a>
					<ul>
						<li><a href="">Submenu1</a></li>
						<li><a href="">Submenu2</a></li>
						<li><a href="">Submenu3</a></li>
						<li><a href="">Submenu4</a>
							<ul>
								<li><a href="">Submenu1</a></li>
								<li><a href="">Submenu2</a></li>
								<li><a href="">Submenu3</a></li>
								<li><a href="">Submenu4</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="">Acerca de</a>
					<ul>
						<li><a href="">Submenu1</a></li>
						<li><a href="">Submenu2</a></li>
						<li><a href="">Submenu3</a></li>
						<li><a href="">Submenu4</a></li>
					</ul>
				</li>
				<li><a href="">Contacto</a></li>
			</ul>-->

