

.container-fluid {
    background-color: #333333;
    height: 200vh;
    font-family: Arial, sans-serif;
}
 
a:hover{
    color: rgb(0, 0, 0) !important;
    background-color: #fd7d3d !important;
    }
    .btn-outline-secondary{
      color: #fd7d3d!important;
      border-color: rgb(255, 149, 0);
      border-radius: 5px;
    }
    .btn-primary{
      background-color: #fd7d3d!important;
      border-color: rgb(255, 149, 0);
      color: #000000;
    }
    .mt {
      margin-top: 50px !important;
    }
    
    .card{
      background-color: #333333;
      border-color: #333333;
    }
    .reg{
      color:#ffffff;
    }
    
    .foot-letter{
      color:#f8f8f8;
    }
    .container-fluid {
        background-color: #333333;
        height: 100vh;
        font-family: Arial, sans-serif;
    }