<div class="container-fluid">
    <h5 *ngIf="user$ | async as user"></h5>
    <h1 style="color: #fd7d3d" class="text-center mt">Rutinas gratis</h1>
    <h5 style="color: rgb(253, 253, 253)" class="text-center ">Registrate y empieza a ponerte en forma</h5><br>
    <div class="col-md-12 text-center">
        <img class="rounded img-responsive"src="https://i.pinimg.com/originals/dd/c3/94/ddc3940e033e44f5a4dfc142d5c28add.jpg" alt="..."  width="350" height="220">
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <img class="card-img-left" src="https://i.pinimg.com/originals/ca/f2/e7/caf2e737656120ca86c43272b153ba6b.jpg" alt="Card image cap" width="130" height="160">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center mt " style="color: #fd7d3d" >DESCARGA NUESTRA APP!</h5>
            <a href="#" class="btn btn-primary">Disponible en versión móvil y escritorio</a>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center mt" style="color: #ffffff">¿Quiénes somos?</h5>
            <p class="card-text text-center " style="color: #f8f8f8">Somos una comunidad enfocada a ofrecer rutinas para ser llevadas a cabo desde casa con la ventaja de tener ejercicios personalizados. Seguimos creciendo gracias a ti.</p>
          </div>
        </div>
      </div>
    </div><br><br>
    <form class="row g-3">
      <div class="col-md-6">
        <button class="btn btn-primary" style="margin-left: 45% ;" >Recibe novedades que Gym Routine trae para ti</button>
      </div>
      <div class="col-md-3">
        <input type=" " class="form-control"  placeholder="Ingresa tu correo electrónico">
      </div>
      <div class="col-md-3">
        <a href="https://www.facebook.com/" class="btn btn-outline-secondary rounded-pill mb-3" type="submit" > Registrate </a>
      </div>
    </form>
</div>
<router-outlet></router-outlet>