<div class="container-fluid">
    <h3 class="text-center" > Rútinas rápidas Quemagrasa!</h3>
    <div class="row">
        <div class="card mb-3" *ngFor="let quema of listQuemagrasa" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4 ">
                <img src={{quema.img}} class="img-fluid rounded-start " alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body " >
                    <h5 class="card-title text-center">{{quema.categoria}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">{{quema.nombre}}</h6>
                    <p class="card-text text-justify">{{quema.descripcion}}</p>
                </div>
                <div class="card-footer bg-transparent border-success  text-muted text-center">{{quema.recomendacion}}</div>
              </div>
            </div>
        </div>
</div>

