<div class="container-fluid">
    
    <div  class="row">
    <div class="col-sm-3"> 
        <div id="card1" class="card text-center" style="width: 18rem;">
            <img src="https://i.pinimg.com/originals/64/41/a3/6441a32e732c6dbeeb26e22bd0aef8bd.jpg" class="card-img-top img-responsive" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pectorales</h5>
                    <a routerLink="/pectorales" class="btn btn-primary">Ver guía</a>
                </div> 
        </div> <!--card 1 cierre--> 
    </div>
    <div class="col-sm-3"> 
        <div id="card2" class="card text-center" style="width: 18rem;">
            <img src="https://i.pinimg.com/originals/92/01/50/920150fbc9d76fcce4ae52f7639d3ae4.jpg" class="card-img-top img-responsive" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Espalda</h5>
                    <a href="#" class="btn btn-primary">Ver guía</a>
                </div> 
        </div> <!--card 2 cierre--> 
    </div>
    <div class="col-sm-3"> 
        <div id="card3" class="card text-center" style="width: 18rem;">
            <img src="https://i.pinimg.com/originals/ad/28/65/ad2865724041901eda909a0c14decfdd.jpg" class="card-img-top img-responsive" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pierna</h5>
                    <a href="#" class="btn btn-primary">Ver guía</a>
                </div> 
        </div> <!--card 2 cierre--> 
    </div>

    <div class="col-sm-3"> 
        <div id="card4" class="card text-center" style="width: 18rem;">
            <img src="https://i.pinimg.com/originals/de/b3/36/deb336a5d65ab3aee34c0faac50c6855.jpg" class="card-img-top img-responsive" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Triceps</h5>
                    <a href="#" class="btn btn-primary">Ver guía</a>
                </div> 
        </div> <!--card 2 cierre--> 
    </div>
    </div><!--row cierre-->
    <br>
    <div  class="row">
        <div class="col-sm-3"> 
            <div id="card1" class="card text-center" style="width: 18rem;">
                <img src="https://i.pinimg.com/originals/ee/09/7f/ee097f7a91a4c8dcb4e29848ed4c61a1.jpg" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Abdomen</h5>
                        <a href="#" class="btn btn-primary">Ver guía</a>
                    </div> 
            </div> <!--card 1 cierre--> 
        </div>
        <div class="col-sm-3"> 
            <div id="card2" class="card text-center" style="width: 18rem;">
                <img src="https://i.pinimg.com/originals/5c/21/4e/5c214efb89b19927d9b37c18c23f6a05.jpg" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Antebrazo</h5>
                        <a href="#" class="btn btn-primary">Ver guía</a>
                    </div> 
            </div> <!--card 2 cierre--> 
        </div>
        <div class="col-sm-3"> 
            <div id="card3" class="card text-center" style="width: 18rem;">
                <img src="https://i.pinimg.com/originals/27/22/3b/27223ba06962009f3812cc45106317cf.jpg" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Biceps</h5>
                        <a href="#" class="btn btn-primary">Ver guía</a>
                    </div> 
            </div> <!--card 2 cierre--> 
        </div>
    
        <div class="col-sm-3"> 
            <div id="card4" class="card text-center" style="width: 18rem;">
                <img src="https://i.pinimg.com/originals/d9/50/38/d95038df71b314ba09014c6a1ca1f9dd.jpg" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Glúteos</h5>
                        <a href="#" class="btn btn-primary">Ver guía</a>
                    </div> 
            </div> <!--card 2 cierre--> 
        </div>
    </div> 
    <br>
    <div  class="row">
        <div class="col-sm-3"> 
            <div id="card1" class="card text-center" style="width: 18rem;">
                <img src="https://i.pinimg.com/originals/ea/32/51/ea3251e0eca34f3507620f5b44c21f20.jpg" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hombro</h5>
                        <a href="#" class="btn btn-primary">Ver guía</a>
                    </div> 
            </div> <!--card 1 cierre--> 
        </div>
        <div class="col-sm-3"> 
            <div id="card2" class="card text-center" style="width: 18rem;">
                <img src="https://i.pinimg.com/originals/a8/69/8c/a8698cd615e46685dd07d39af85787ad.jpg" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cardio</h5>
                        <a href="#" class="btn btn-primary">Ver guía</a>
                    </div> 
            </div> <!--card 2 cierre--> 
        </div>
        
        </div><!--row cierre-->
    
</div> <!--container fluid cierre-->
<router-outlet></router-outlet>