<div class="container-fluid">
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 my-3">
           <div class="col"> 
             <div class="card h-79 shadow-sm text-center"> 
                <img src="https://i.pinimg.com/originals/64/41/a3/6441a32e732c6dbeeb26e22bd0aef8bd.jpg" class="card-img-top img-responsive" alt="...">
                <div class="card-body"> 
                    <h3 class="card-title">Pectorales</h3>
                    <a routerLink="/pectorales" class="btn btn-primary">Ver guía</a>
               </div> 
             </div> 
           </div> <!--1-->

           <div class="col"> 
             <div class="card h-81 shadow-sm text-center"> 
                <img src="https://i.pinimg.com/originals/92/01/50/920150fbc9d76fcce4ae52f7639d3ae4.jpg" class="card-img-top img-responsive" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Espalda</h3>
                    <a routerLink="/espalda" class="btn btn-primary">Ver guía</a>
                </div>  
               </div> 
             </div> <!--2-->

             <div class="col"> 
               <div class="card h-80 shadow-sm text-center"> 
                <img src="https://i.pinimg.com/originals/ad/28/65/ad2865724041901eda909a0c14decfdd.jpg" class="card-img-top img-responsive" alt="...">
                  <div class="card-body"> 
                    <h3 class="card-title">Pierna</h3>
                    <a routerLink="/pierna" class="btn btn-primary">Ver guía</a>
                    </div> 
                </div> 
            </div> <!--3-->

                   <div class="col"> 
                    <div class="card h-81 shadow-sm text-center"> 
                       <img src="https://i.pinimg.com/originals/92/01/50/920150fbc9d76fcce4ae52f7639d3ae4.jpg" class="card-img-top img-responsive" alt="...">
                       <div class="card-body">
                           <h3 class="card-title">Tríceps</h3>
                           <a routerLink="/triceps" class="btn btn-primary">Ver guía</a>
                       </div>  
                      </div> 
                    </div>   <!--4-->          
            </div> 
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 my-3">
                <div class="col"> 
                  <div class="card h-79 shadow-sm text-center"> 
                    <img src="https://i.pinimg.com/originals/ee/09/7f/ee097f7a91a4c8dcb4e29848ed4c61a1.jpg" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Abdomen</h3>
                        <a routerLink="/abdomen" class="btn btn-primary">Ver guía</a>
                    </div> 
                  </div> 
                </div> <!--5-->
     
                <div class="col"> 
                  <div class="card h-81 shadow-sm text-center"> 
                    <img src="https://i.pinimg.com/originals/5c/21/4e/5c214efb89b19927d9b37c18c23f6a05.jpg" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Antebrazo</h3>
                        <a routerLink="/antebrazo" class="btn btn-primary">Ver guía</a>
                    </div>  
                    </div> 
                  </div> <!--6-->
     
                  <div class="col"> 
                    <div class="card h-80 shadow-sm text-center"> 
                        <img src="https://i.pinimg.com/originals/27/22/3b/27223ba06962009f3812cc45106317cf.jpg" class="card-img-top img-responsive" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">Biceps</h3>
                            <a routerLink="/biceps" class="btn btn-primary">Ver guía</a>
                        </div> 
                     </div> 
                 </div> <!--7-->
     
                        <div class="col"> 
                         <div class="card h-81 shadow-sm text-center"> 
                            <img src="https://i.pinimg.com/originals/d9/50/38/d95038df71b314ba09014c6a1ca1f9dd.jpg" class="card-img-top img-responsive" alt="...">
                            <div class="card-body">
                                <h3 class="card-title">Glúteos</h3>
                                <a routerLink="/gluteos" class="btn btn-primary">Ver guía</a>
                            </div>  
                           </div> 
                         </div>   <!--8-->        
                         
                        
                            
                 </div> 
                 
                 
                     
                
                     

</div> 
</div> <!--container fluid cierre-->
<router-outlet></router-outlet>
