<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Bienvenido a este espacio de Blog Post!</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Publicado el 6 de Mayo, 2022 by Gym Routine</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Blog</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://i.pinimg.com/originals/52/55/6d/52556d5966ddb83d822b6d254cccf4e4.jpg" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">Reduce el estrés comenzando a planificar un espacio para ti mismo, sacando toda la tensión por medio de ejercicio y buena alimentación. Este es un espacio para escucharte y Gym routine se preocupa por tu salud fisica y mental.</p>
                    <h2 class="fw-bolder mb-4 mt-5">Sabias que..?</h2>
                    <p class="fs-5 mb-4">El cuerpo humano tiene más de 650 músculos y cada fibra muscular es más delgada que un cabello. Sin embargo, cada una es capaz de soportar mil veces su peso. Imagínate todo lo que el cuerpo puede lograr si trabajas de manera adecuada.</p>
                    <p class="fs-5 mb-4">A cualquier edad se puede comenzar a hacer ejercicio, pero cuanto antes te ayudará a prevenir más problemas. Las personas que no hacen ejercicio pueden perder entre 3 y 5 % de masa muscular por década a partir de los 30 años.

                        Y al llegar a los 65 años habrán perdido hasta el 80 % de la fuerza muscular. Esto los hace menos independientes que una persona que se haya mantenido activa durante su vida.</p>
                    
                    <p class="fs-5 mb-4">El ejercicio físico no sólo es bueno sino que es necesario, imprescindible si quieres llevar un estilo de vida saludable. Eso sí, no vale hacerlo de cualquier forma: debes tener en cuenta los consejos de los expertos para evitar lesiones y mejorar constantemente, ya que siempre hay secretos y cosas que no conoces de hacer ejercicio.</p>
                    <p class="fs-5 mb-4"> Esto no es todo sobre la actividad física, pero sin duda son datos que necesitas saber si quieres entrar al mundo fitness. Si conoces alguna otra información déjanos un comentario y tómate unos minutos para ver nuestras versiones de aplicación Gym Routine.Gracias por leernos!</p>
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://i.pinimg.com/originals/2a/ba/f9/2abaf90400d13ffa160296580a953456.jpg" alt="..." width="50px"  height="50 px"/></div>
                            <div class="ms-3">
                                <div class="fw-bold">Diana Padilla</div>
                                Exclente información, gracias por el aporte, en donde puedo albergar mis consejos a otros participantes?
                                <!-- Child comment 1-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://i.pinimg.com/originals/9c/a0/b4/9ca0b412cacec815757fe1575a9cf8c6.jpg" alt="..." height="50 px" /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Gym Routine</div>
                                        Hola Diana, nos alegra mucho leer tu opinón, puedes ingresar al apartado "<a href=" ">Mi opinión</a>" y con gusto te leeremos!.
                                    </div>
                                </div>
                                <!-- Child comment 2-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://i.pinimg.com/originals/2a/ba/f9/2abaf90400d13ffa160296580a953456.jpg" alt="..." width="50px"  height="50 px" /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Diana Padilla</div>
                                        Perfecto!, gracias.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://i.pinimg.com/originals/a1/f9/92/a1f992e7e0a8cce5a9134ae34afae668.jpg" alt="..." width="50px"  height="50 px"/></div>
                            <div class="ms-3">
                                <div class="fw-bold">Luis Ocegueda</div>
                                Hola, hace poco me suscribí al blog, soy entrenador yme gustaría hacer una aclaración para todas aquellas personas que piensan que podemos quemar la grasa localizada, no puedes elegir dónde quieres localizar la quema de grasas, realidad es un lema que las compañías publicitarias han explotado durante décadas.No puedes quemar la grasa de la tripa o las cartucheras antes que la del resto del cuerpo, ojalá les sirva como aportación, gracias.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Rutinas de otros usuarios</a></li>
                                <li><a href="#!">Plan de alimentación</a></li>
                                <li><a href="#!">Hábitos complementarios</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Mi opinión</a></li>
                                <li><a href="#!">Grupo en instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Recomendaciones</div>
                <div class="card-body">-Debes adaptar tus horarios de comida a tus horarios de entrenamiento<br>-Haz ejercicios de calentamiento (5-10 minutos) y estiramiento<br>
                -Mantente Hidratado<br>
                -Viste de manera cómoda<br>
                -No te esfuerces mas de lo necesario<br>
                -Haz las cosas con buena actitud e inspiera a otros</div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>